{% extends 'base.html' %}
{% block title %}Restaurants{% endblock %}

{% block content %}

<div style="padding-top: 50px" class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table table-dark table-striped table-hover">
        <tbody>
            {% for cafe in cafes %}
            <tr>
                <td>{{ cafe[0] }}</td>
                {% if loop.index == 1 %}
                    <td>Localização</td>
                {% else %}
                    <td><a href="{{ cafe[1] }}" >Link</a></td>
                {% endif %}
                <td>{{ cafe[2]}}</td>
                <td>{{ cafe[3]}}</td>
                <td>{{ cafe[4]}}</td>
                <td>{{ cafe[5]}}</td>
                <td>{{ cafe[6]}}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      <p><a href="/">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
